### Importing Libraries Needed in This Notebook

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import seaborn as sbn 
sbn.set_style('whitegrid')
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

# Set it None to display all rows in the dataframe
# pd.set_option('display.max_rows', None)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

In [2]:
df0 = pd.read_csv("Autoscout_cleaning.csv")
df = df0.copy()

In [3]:
df.head(3).T

,0,1,2
Make_Model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG
Location,ES,ES,ES
Price,16950.0,80900.0,69900.0
Body_Type,Compact,Compact,Compact
Type,Used,Pre-registered,Used
Doors,5.0,4.0,5.0
Mileage,120200.0,5000.0,18900.0
Gearbox,Manual,Automatic,Automatic
Fuel_Type,Diesel,Electric,Benzine
Seller,Dealer,Dealer,Dealer
Seats,NaN,5.0,5.0
Engine_Size,NaN,1.0,1991.0
Gears,NaN,9.0,8.0
CO2_Emissions,NaN,0.0,NaN
Drivetrain,NaN,NaN,4WD
Cylinders,NaN,NaN,4.0
Comfort_Convenience,NaN,NaN,NaN
Entertainment_Media,NaN,NaN,NaN
Safety_Security,NaN,NaN,NaN
Extras,NaN,NaN,NaN
Empty_Weight,NaN,NaN,NaN
Full_Service_History,No,No,No
Upholstery,NaN,NaN,NaN
Energy_Efficiency_Class,NaN,NaN,NaN
Age,6.0,0.0,2.0
power_kW,NaN,215.0,310.0
power_hp,NaN,292.0,421.0
Fuel_Consumption_comb,NaN,NaN,8.4

In [4]:
df.shape

(28630, 28)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28630 entries, 0 to 28629
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make_Model               28630 non-null  object
 1   Location                 28630 non-null  object
 2   Price                    28630 non-null  float64
 3   Body_Type                28630 non-null  object
 4   Type                     28630 non-null  object
 5   Doors                    28271 non-null  float64
 6   Mileage                  28629 non-null  float64
 7   Gearbox                  28382 non-null  object
 8   Fuel_Type                26843 non-null  object
 9   Seller                   28630 non-null  object
 10  Seats                    25505 non-null  float64
 11  Engine_Size              27227 non-null  float64
 12  Gears                    18954 non-null  float64
 13  CO2_Emissions            18594 non-null  float64
 14  Drivetrain               16893 non-null  object
 15  Cylinders                18852 non-null  float64
 16  Comfort_Convenience      25433 non-null  object
 17  Entertainment_Media      23644 non-null  object
 18  Safety_Security          25415 non-null  object
 19  Extras                   23480 non-null  object
 20  Empty_Weight             17758 non-null  float64
 21  Full_Service_History     28630 non-null  object
 22  Upholstery               18610 non-null  object
 23  Energy_Efficiency_Class  7804 non-null   object
 24  Age                      28628 non-null  float64
 25  power_kW                 28058 non-null  float64
 26  power_hp                 28058 non-null  float64
 27  Fuel_Consumption_comb    22728 non-null  float64
dtypes: float64(13), object(15)
memory usage: 6.1+ MB

### The Examination of Missing Values:

In [6]:
df.isnull().sum()

Make_Model                     0
Location                       0
Price                          0
Body_Type                      0
Type                           0
Doors                        359
Mileage                        1
Gearbox                      248
Fuel_Type                   1787
Seller                         0
Seats                       3125
Engine_Size                 1403
Gears                       9676
CO2_Emissions              10036
Drivetrain                 11737
Cylinders                   9778
Comfort_Convenience         3197
Entertainment_Media         4986
Safety_Security             3215
Extras                      5150
Empty_Weight               10872
Full_Service_History           0
Upholstery                 10020
Energy_Efficiency_Class    20826
Age                            2
power_kW                     572
power_hp                     572
Fuel_Consumption_comb       5902
dtype: int64

In [7]:
df.isnull().sum()/df.shape[0]*100

Make_Model                  0.000000
Location                    0.000000
Price                       0.000000
Body_Type                   0.000000
Type                        0.000000
Doors                       1.253929
Mileage                     0.003493
Gearbox                     0.866224
Fuel_Type                   6.241705
Seller                      0.000000
Seats                      10.915124
Engine_Size                 4.900454
Gears                      33.796717
CO2_Emissions              35.054139
Drivetrain                 40.995459
Cylinders                  34.152986
Comfort_Convenience        11.166608
Entertainment_Media        17.415299
Safety_Security            11.229480
Extras                     17.988124
Empty_Weight               37.974153
Full_Service_History        0.000000
Upholstery                 34.998254
Energy_Efficiency_Class    72.741879
Age                         0.006986
power_kW                    1.997904
power_hp                    1.997904
Fuel_Consumption_comb      20.614740
dtype: float64

### The Examination of Duplicated Values:

In [8]:
df.duplicated(keep=False).sum()

1611

In [9]:
df[df.duplicated(keep=False)]

,Make_Model,Location,Price,Body_Type,Type,Doors,Mileage,Gearbox,Fuel_Type,Seller,Seats,Engine_Size,Gears,CO2_Emissions,Drivetrain,Cylinders,Comfort_Convenience,Entertainment_Media,Safety_Security,Extras,Empty_Weight,Full_Service_History,Upholstery,Energy_Efficiency_Class,Age,power_kW,power_hp,Fuel_Consumption_comb
20,Mercedes-Benz A 180,ES,21000.0,Compact,Used,5.0,172700.0,Automatic,Diesel,Dealer,5.0,1461.0,7.0,NaN,Front,4.0,"Air conditioning, Electrical side mirrors, Pow...",NaN,"ABS, Central door lock, Driver-side airbag, Is...",Sport seats,1425.0,No,NaN,NaN,4.0,80.0,109.0,3.7
25,Mercedes-Benz A 180,ES,21000.0,Compact,Used,5.0,172700.0,Automatic,Diesel,Dealer,5.0,1461.0,7.0,NaN,Front,4.0,"Air conditioning, Electrical side mirrors, Pow...",NaN,"ABS, Central door lock, Driver-side airbag, Is...",Sport seats,1425.0,No,NaN,NaN,4.0,80.0,109.0,3.7
34,Mercedes-Benz A 180,ES,18390.0,Compact,Used,5.0,63871.0,Automatic,Benzine,Dealer,5.0,1595.0,7.0,NaN,Front,4.0,"Air conditioning, Electrical side mirrors, Pow...",NaN,"ABS, Central door lock, Driver-side airbag, Is...",Alloy wheels,1395.0,No,NaN,NaN,5.0,90.0,122.0,5.4
40,Mercedes-Benz A 180,ES,20630.0,Compact,Used,5.0,98258.0,Manual,Diesel,Dealer,NaN,1461.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,3.0,85.0,116.0,4.2
43,Mercedes-Benz A 180,ES,23850.0,Compact,Used,5.0,71098.0,Automatic,Diesel,Dealer,5.0,1461.0,7.0,NaN,Front,4.0,"Air conditioning, Electrical side mirrors, Pow...",Bluetooth,"ABS, Central door lock, Driver-side airbag, Is...",Sport seats,1425.0,No,NaN,NaN,4.0,80.0,109.0,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28616,Volvo S90,ES,27190.0,Sedan,Used,4.0,93757.0,Automatic,Diesel,Dealer,5.0,1969.0,8.0,NaN,Front,4.0,"Air conditioning, Automatic climate control, M...","Hands-free equipment, USB","ABS, Central door lock, Driver-side airbag, El...",Alloy wheels,1683.0,No,NaN,NaN,4.0,140.0,190.0,NaN
28617,Volvo S90,ES,27190.0,Sedan,Used,4.0,93757.0,Automatic,Diesel,Dealer,5.0,1969.0,8.0,NaN,Front,4.0,"Air conditioning, Automatic climate control, M...","Hands-free equipment, USB","ABS, Central door lock, Driver-side airbag, El...",Alloy wheels,1683.0,No,NaN,NaN,4.0,140.0,190.0,NaN
28621,Volvo S90,ES,27190.0,Sedan,Used,4.0,93757.0,Automatic,Diesel,Dealer,5.0,1969.0,8.0,NaN,Front,4.0,"Air conditioning, Automatic climate control, M...","Hands-free equipment, USB","ABS, Central door lock, Driver-side airbag, El...",Alloy wheels,1683.0,No,NaN,NaN,4.0,140.0,190.0,NaN
28622,Volvo S90,ES,27190.0,Sedan,Used,4.0,93757.0,Automatic,Diesel,Dealer,5.0,1969.0,8.0,NaN,Front,4.0,"Air conditioning, Automatic climate control, M...","Hands-free equipment, USB","ABS, Central door lock, Driver-side airbag, El...",Alloy wheels,1683.0,No,NaN,NaN,4.0,140.0,190.0,NaN
28625,Volvo S90,ES,37600.0,Sedan,Used,4.0,40345.0,Automatic,NaN,Dealer,4.0,1969.0,8.0,NaN,4WD,4.0,"Air conditioning, Automatic climate control, M...","Bluetooth, USB","ABS, Central door lock, Driver-side airbag, El...",Alloy wheels,2077.0,No,NaN,NaN,3.0,288.0,392.0,NaN

### User Defined Functions (DEFs) to fill the missing values

In [10]:
# User Defined Function for first-looking to the features/columns

def first_looking(col):
    print("COLUMN NAME    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print("--------------------------------")
    print(df[col].value_counts(dropna = False))

In [11]:
def fill_most_freq(df, group_col, col_name):
    
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [12]:
def fill_prop(df, group_col, col_name):
    
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ", df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [13]:
# method can be either "mode" or "mean" or "median" or "ffill"

def fill(df, group_col1, group_col2, col_name, method): 
    
    '''Fills the missing values with "mode/mean/median/ffill/bfill method" according to double-stage grouping'''
    
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])

    elif method == "mean":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df[col_name].mean(), inplace = True)
        
    elif method == "median":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df[col_name].median(), inplace = True)
        
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

### The Examination of Missing Values in the Columns

According to the Domain Knowledge I obtained in this analysis,
I will use the make_model & body_type properties to fill in the missing values because
I think these properties have a direct or indirect effect on the formation of other properties.

In [14]:
df_notnull = df[df.columns[~df.isnull().any()]]
df_notnull.columns

Index(['Make_Model', 'Location', 'Price', 'Body_Type', 'Type', 'Seller',
       'Full_Service_History'],
      dtype='object')

### Make_Model

In [15]:
first_looking("Make_Model")

COLUMN NAME    :  Make_Model
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  611
--------------------------------
Renault Megane     863
SEAT Leon          787
Volvo V40          740
Dacia Sandero      730
Hyundai i30        706
                  ...
Toyota GR86          1
Toyota Tacoma        1
Toyota Tundra        1
Toyota 4-Runner      1
Volvo 244            1
Name: Make_Model, Length: 611, dtype: int64

### Body_Type

In [16]:
first_looking("Body_Type")

COLUMN NAME    :  Body_Type
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  6
--------------------------------
Station wagon       5448
Off-Road/Pick-up    5415
Compact             5387
Sedan               5043
Coupe               4009
Convertible         3328
Name: Body_Type, dtype: int64

### Engine_Size

In [17]:
first_looking("Engine_Size")

COLUMN NAME    :  Engine_Size
--------------------------------
per_of_nulls   :  % 4.9
num_of_nulls   :  1403
num_of_uniques :  467
--------------------------------
1598.0    2099
999.0     2068
1969.0    1929
NaN       1403
1461.0    1110
          ...
2753.0       1
2495.0       1
200.0        1
3224.0       1
2473.0       1
Name: Engine_Size, Length: 468, dtype: int64

In [18]:
df["Engine_Size"].fillna("-", inplace=True)

describe() returns nothing for NaN values. If the column/property I'm interested in has "Nan" I should replace those nan values with something else. In this case, I replaced the "NaN" values with "-" so that I could implement the define() method.

In [20]:
df.groupby(["Make_Model", "Body_Type","Engine_Size"]).Price.describe()

                                          count     mean          std  \
Make_Model  Body_Type        Engine_Size
Dacia       Compact          0.0            1.0  19515.0          NaN
                             -              2.0  22389.0   127.279221
            Sedan            1289.0         1.0   9999.0          NaN
            Station wagon    999.0          1.0  21799.0          NaN
Dacia Break Station wagon    -              1.0  20500.0          NaN
...                                         ...      ...          ...
Volvo XC90  Off-Road/Pick-up 2922.0         2.0  16990.0     0.000000
                             -              2.0  55900.0     0.000000
            Sedan            1969.0         2.0  48100.0   565.685425
                             -              1.0  84900.0          NaN
            Station wagon    1969.0         4.0  32750.0  3752.776750

                                              min      25%      50%      75%  \
Make_Model  Body_Type        Engine_Size
Dacia       Compact          0.0          19515.0  19515.0  19515.0  19515.0
                             -            22299.0  22344.0  22389.0  22434.0
            Sedan            1289.0        9999.0   9999.0   9999.0   9999.0
            Station wagon    999.0        21799.0  21799.0  21799.0  21799.0
Dacia Break Station wagon    -            20500.0  20500.0  20500.0  20500.0
...                                           ...      ...      ...      ...
Volvo XC90  Off-Road/Pick-up 2922.0       16990.0  16990.0  16990.0  16990.0
                             -            55900.0  55900.0  55900.0  55900.0
            Sedan            1969.0       47700.0  47900.0  48100.0  48300.0
                             -            84900.0  84900.0  84900.0  84900.0
            Station wagon    1969.0       29500.0  29500.0  32750.0  36000.0

                                              max
Make_Model  Body_Type        Engine_Size
Dacia       Compact          0.0          19515.0
                             -            22479.0
            Sedan            1289.0        9999.0
            Station wagon    999.0        21799.0
Dacia Break Station wagon    -            20500.0
...                                           ...
Volvo XC90  Off-Road/Pick-up 2922.0       16990.0
                             -            55900.0
            Sedan            1969.0       48500.0
                             -            84900.0
            Station wagon    1969.0       36000.0

[3890 rows x 8 columns]

The engine_size of cars changes by their make_models & body_type most of the time. So it is more beneficial to decide to fill missing values with mode value of related group.

In [21]:
df["Engine_Size"].replace("-", np.nan, inplace=True)

In [22]:
fill(df, "Make_Model", "Body_Type", "Engine_Size", "mode")

Number of NaN :  0
------------------
1598.0     2255
999.0      2145
1969.0     1967
1461.0     1144
1998.0     1056
           ...
1196.0        1
16998.0       1
1489.0        1
2645.0        1
2473.0        1
Name: Engine_Size, Length: 467, dtype: int64

### Age

In [23]:
first_looking("Age")

COLUMN NAME    :  Age
--------------------------------
per_of_nulls   :  % 0.01
num_of_nulls   :  2
num_of_uniques :  83
--------------------------------
 3.0      3667
 4.0      3492
 0.0      3086
 1.0      2870
 2.0      2473
          ...
-1.0         1
 93.0        1
 72.0        1
 94.0        1
-180.0       1
Name: Age, Length: 84, dtype: int64

In [24]:
df['Age'].fillna('-', inplace=True)

In [25]:
df.groupby("Age").Mileage.describe()

,count,mean,std,min,25%,50%,75%,max
Age,,,,,,,,
-180.0,1.0,20926.000000,NaN,20926.0,20926.00,20926.0,20926.00,20926.0
-3.0,1.0,59629.000000,NaN,59629.0,59629.00,59629.0,59629.00,59629.0
-1.0,1.0,147985.000000,NaN,147985.0,147985.00,147985.0,147985.00,147985.0
0.0,3085.0,3043.333874,4697.710410,0.0,10.00,400.0,5000.00,46500.0
1.0,2870.0,15009.230314,12832.031943,0.0,5806.00,12175.0,21493.50,94000.0
...,...,...,...,...,...,...,...,...
92.0,2.0,30616.500000,41554.544210,1233.0,15924.75,30616.5,45308.25,60000.0
93.0,1.0,65515.000000,NaN,65515.0,65515.00,65515.0,65515.00,65515.0
94.0,1.0,5000.000000,NaN,5000.0,5000.00,5000.0,5000.00,5000.0
122.0,2.0,14985.500000,21178.555203,10.0,7497.75,14985.5,22473.25,29961.0
-,2.0,3175.000000,963.079436,2494.0,2834.50,3175.0,3515.50,3856.0

In [26]:
df[df["Age"] == "-"]["Mileage"].value_counts(dropna=False)

3856.0    1
2494.0    1
Name: Mileage, dtype: int64

In [ ]:
# I will use replace() function to fill missing values at "age" column with proper values.

In [27]:
condition_age1 = (df['Mileage'] < 10000)

df.loc[condition_age1,'Age'] = df.loc[condition_age1,'Age'].replace('-', 0)

In [28]:
df.groupby('Age').Mileage.mean()

Age
-180.0     20926.000000
-3.0       59629.000000
-1.0      147985.000000
 0.0        3043.419177
 1.0       15009.230314
              ...
 90.0      14700.000000
 92.0      30616.500000
 93.0      65515.000000
 94.0       5000.000000
 122.0     14985.500000
Name: Mileage, Length: 83, dtype: float64

In [29]:
first_looking("Age")

COLUMN NAME    :  Age
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  83
--------------------------------
 3.0      3667
 4.0      3492
 0.0      3088
 1.0      2870
 2.0      2473
          ...
 93.0        1
 66.0        1
-180.0       1
 94.0        1
 72.0        1
Name: Age, Length: 83, dtype: int64

### Mileage

In [31]:
first_looking("Mileage")

COLUMN NAME    :  Mileage
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  1
num_of_uniques :  14183
--------------------------------
10.0        586
1.0         172
50.0        133
100.0       119
5000.0      118
           ...
141589.0      1
59821.0       1
123500.0      1
29781.0       1
230047.0      1
Name: Mileage, Length: 14184, dtype: int64

In [32]:
df.groupby("Age").Mileage.mean()

Age
-180.0     20926.000000
-3.0       59629.000000
-1.0      147985.000000
 0.0        3043.419177
 1.0       15009.230314
              ...
 90.0      14700.000000
 92.0      30616.500000
 93.0      65515.000000
 94.0       5000.000000
 122.0     14985.500000
Name: Mileage, Length: 83, dtype: float64

In [33]:
df[df["Mileage"].isna()][["Age", "Mileage"]]

       Age  Mileage
10753  0.0      NaN

In [34]:
# I will use transform() function to fill missing values at "km" column with "mean".

In [35]:
df.groupby("Age").Mileage.transform("mean")

0         83995.415882
1          3043.419177
2         30711.259604
3         30711.259604
4         98250.392078
             ...
28625     50955.461685
28626    174932.939271
28627    134643.419003
28628     77484.786480
28629    154393.181818
Name: Mileage, Length: 28630, dtype: float64

In [36]:
df["Mileage"].fillna(df.groupby("Age").Mileage.transform("mean"), inplace=True)

# Using transform()function, we have filled missing values at "mileage" column with the "mean" of the each "age" group.

In [37]:
first_looking("Mileage")

COLUMN NAME    :  Mileage
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  14184
--------------------------------
10.0        586
1.0         172
50.0        133
100.0       119
5000.0      118
           ...
141589.0      1
59821.0       1
123500.0      1
29781.0       1
230047.0      1
Name: Mileage, Length: 14184, dtype: int64

### Doors

In [38]:
first_looking("Doors")

COLUMN NAME    :  Doors
--------------------------------
per_of_nulls   :  % 1.25
num_of_nulls   :  359
num_of_uniques :  6
--------------------------------
5.0    17481
2.0     5523
4.0     3001
3.0     2259
NaN      359
6.0        5
1.0        2
Name: Doors, dtype: int64

In [ ]:
#The number of doors of cars changes by theirs make_models and body_types. 
#So I have decided to fill missing values with mode value of related group.

In [40]:
for group1 in list(df["Make_Model"].unique()):
    for group2 in list(df["Body_Type"].unique()):
        cond1 = df["Make_Model"]==group1
        cond2 = (df["Make_Model"]==group1) & (df["Body_Type"]==group2)
        mode1 = list(df[cond1]["Doors"].mode())
        mode2 = list(df[cond2]["Doors"].mode())
        if mode2 != []:
            df.loc[cond2, "Doors"] = df.loc[cond2, "Doors"].fillna(df[cond2]["Doors"].mode()[0])
        elif mode1 != []:
            df.loc[cond2, "Doors"] = df.loc[cond2, "Doors"].fillna(df[cond1]["Doors"].mode()[0])
        else:
            df.loc[cond2, "Doors"] = df.loc[cond2, "Doors"].fillna(df["Doors"].mode()[0])

In [41]:
df["Doors"].value_counts(dropna=False)

5.0    17637
2.0     5669
4.0     3013
3.0     2304
6.0        5
1.0        2
Name: Doors, dtype: int64

### Gears

In [44]:
first_looking("Gears")

COLUMN NAME    :  Gears
--------------------------------
per_of_nulls   :  % 33.8
num_of_nulls   :  9676
num_of_uniques :  11
--------------------------------
NaN     9676
6.0     8412
5.0     5335
7.0     1738
8.0     1690
1.0      712
9.0      642
4.0      256
10.0     112
0.0       31
3.0       24
2.0        2
Name: Gears, dtype: int64

In [45]:
df[df["Fuel_Type"]=="Electric"].Gears.value_counts(dropna=False)

NaN    100
1.0     77
6.0      4
0.0      3
5.0      2
9.0      1
7.0      1
Name: Gears, dtype: int64

In [46]:
df["Gears"].fillna("-", inplace=True)

In [48]:
df.groupby(["Make_Model", "Body_Type", "Gearbox", "Gears"]).Price.describe()

                                                   count          mean  \
Make_Model  Body_Type        Gearbox        Gears
Dacia       Compact          Automatic      1.0      1.0  19515.000000
                                            -        2.0  22389.000000
            Sedan            Manual         4.0      1.0   9999.000000
            Station wagon    Manual         -        1.0  21799.000000
Dacia Break Station wagon    Manual         -        1.0  20500.000000
...                                                  ...           ...
Volvo XC90  Off-Road/Pick-up Manual         6.0      2.0   6799.000000
                                            -        2.0   7600.000000
            Sedan            Automatic      -        3.0  60366.666667
            Station wagon    Automatic      8.0      2.0  29500.000000
                             Semi-automatic 8.0      2.0  36000.000000

                                                            std      min  \
Make_Model  Body_Type        Gearbox        Gears
Dacia       Compact          Automatic      1.0             NaN  19515.0
                                            -        127.279221  22299.0
            Sedan            Manual         4.0             NaN   9999.0
            Station wagon    Manual         -               NaN  21799.0
Dacia Break Station wagon    Manual         -               NaN  20500.0
...                                                         ...      ...
Volvo XC90  Off-Road/Pick-up Manual         6.0        0.000000   6799.0
                                            -          0.000000   7600.0
            Sedan            Automatic      -      21250.254900  47700.0
            Station wagon    Automatic      8.0        0.000000  29500.0
                             Semi-automatic 8.0        0.000000  36000.0

                                                       25%      50%      75%  \
Make_Model  Body_Type        Gearbox        Gears
Dacia       Compact          Automatic      1.0    19515.0  19515.0  19515.0
                                            -      22344.0  22389.0  22434.0
            Sedan            Manual         4.0     9999.0   9999.0   9999.0
            Station wagon    Manual         -      21799.0  21799.0  21799.0
Dacia Break Station wagon    Manual         -      20500.0  20500.0  20500.0
...                                                    ...      ...      ...
Volvo XC90  Off-Road/Pick-up Manual         6.0     6799.0   6799.0   6799.0
                                            -       7600.0   7600.0   7600.0
            Sedan            Automatic      -      48100.0  48500.0  66700.0
            Station wagon    Automatic      8.0    29500.0  29500.0  29500.0
                             Semi-automatic 8.0    36000.0  36000.0  36000.0

                                                       max
Make_Model  Body_Type        Gearbox        Gears
Dacia       Compact          Automatic      1.0    19515.0
                                            -      22479.0
            Sedan            Manual         4.0     9999.0
            Station wagon    Manual         -      21799.0
Dacia Break Station wagon    Manual         -      20500.0
...                                                    ...
Volvo XC90  Off-Road/Pick-up Manual         6.0     6799.0
                                            -       7600.0
            Sedan            Automatic      -      84900.0
            Station wagon    Automatic      8.0    29500.0
                             Semi-automatic 8.0    36000.0

[3181 rows x 8 columns]

In [ ]:
#The number of gears of cars changes by their make_models, body_type and gearbox most of the time. 
#So it is more beneficial to decide to fill missing values with mode value of related group.

In [49]:
df["Gears"].replace("-", np.nan, inplace=True)

In [50]:
for group1 in list(df["Make_Model"].unique()):
    for group2 in list(df["Body_Type"].unique()):
        for group3 in list(df["Gearbox"].unique()):
            cond1 = df["Make_Model"]==group1
            cond2 = (df["Make_Model"]==group1) & (df["Body_Type"]==group2)
            cond3 = (df["Make_Model"]==group1) & (df["Body_Type"]==group2) & (df0["Gearbox"]==group3)
            mode1 = list(df[cond1]["Gears"].mode())
            mode2 = list(df[cond2]["Gears"].mode())
            mode3 = list(df[cond3]["Gears"].mode())
            if mode3 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond3]["Gears"].mode()[0])
            elif mode2 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond2]["Gears"].mode()[0])
            elif mode1 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond1]["Gears"].mode()[0])
            else:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df["Gears"].mode()[0])

In [51]:
first_looking("Gears")

COLUMN NAME    :  Gears
--------------------------------
per_of_nulls   :  % 0.68
num_of_nulls   :  196
num_of_uniques :  11
--------------------------------
6.0     12182
5.0      7741
8.0      2726
7.0      2612
1.0      1344
9.0      1142
4.0       359
10.0      242
NaN       196
3.0        52
0.0        31
2.0         3
Name: Gears, dtype: int64

In [ ]:
# However, there have still been some (196) missing values for gears

### Gearbox

In [52]:
first_looking("Gearbox")

COLUMN NAME    :  Gearbox
--------------------------------
per_of_nulls   :  % 0.87
num_of_nulls   :  248
num_of_uniques :  3
--------------------------------
Manual            17023
Automatic         11287
NaN                 248
Semi-automatic       72
Name: Gearbox, dtype: int64

In [54]:
df[df["Fuel_Type"]=="Electric"].Gearbox.value_counts(dropna=False)

Automatic         181
NaN                 3
Manual              3
Semi-automatic      1
Name: Gearbox, dtype: int64

In [55]:
fill(df, "Make_Model", "Body_Type", "Gearbox", "mode")

Number of NaN :  0
------------------
Manual            17191
Automatic         11367
Semi-automatic       72
Name: Gearbox, dtype: int64

In [57]:
first_looking("Gearbox")

COLUMN NAME    :  Gearbox
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  3
--------------------------------
Manual            17191
Automatic         11367
Semi-automatic       72
Name: Gearbox, dtype: int64

In [134]:
# Let us take care of gears again:

for group1 in df["Make_Model"].unique():
    for group2 in df["Body_Type"].unique():
        for group3 in df["Gearbox"].unique():
            cond1 = df["Make_Model"] == group1
            cond2 = (df["Make_Model"] == group1) & (df["Body_Type"] == group2)
            cond3 = (df["Make_Model"] == group1) & (df["Body_Type"] == group2) & (df["Gearbox"] == group3)
            mode1 = list(df[cond1]["Gears"].mode())
            mode2 = list(df[cond2]["Gears"].mode())
            mode3 = list(df[cond3]["Gears"].mode())
            if mode3 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond3]["Gears"].mode()[0])
            elif mode2 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond2]["Gears"].mode()[0])
            elif mode1 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond1]["Gears"].mode()[0])
            else:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df["Gears"].mode()[0])

In [135]:
first_looking("Gears")

COLUMN NAME    :  Gears
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  11
--------------------------------
6.0     12246
5.0      7802
8.0      2737
7.0      2631
1.0      1352
9.0      1144
4.0       380
10.0      244
3.0        60
0.0        31
2.0         3
Name: Gears, dtype: int64

### Fuel_Type

In [58]:
first_looking("Fuel_Type")

COLUMN NAME    :  Fuel_Type
--------------------------------
per_of_nulls   :  % 6.24
num_of_nulls   :  1787
num_of_uniques :  4
--------------------------------
Benzine               17549
Diesel                 8727
NaN                    1787
Liquid/Natural Gas      379
Electric                188
Name: Fuel_Type, dtype: int64

In [59]:
fill(df, "Make_Model", "Gearbox", "Fuel_Type", "mode")

Number of NaN :  0
------------------
Benzine               18705
Diesel                 9102
Electric                439
Liquid/Natural Gas      384
Name: Fuel_Type, dtype: int64

### Seats

In [60]:
first_looking("Seats")

COLUMN NAME    :  Seats
--------------------------------
per_of_nulls   :  % 10.92
num_of_nulls   :  3125
num_of_uniques :  11
--------------------------------
5.0     18308
4.0      5390
NaN      3125
2.0      1186
7.0       488
8.0        43
9.0        35
3.0        25
6.0        12
0.0         9
1.0         7
17.0        2
Name: Seats, dtype: int64

In [61]:
fill(df, "Make_Model", "Body_Type", "Seats", "mode")

Number of NaN :  0
------------------
5.0     20720
4.0      5967
2.0      1266
7.0       542
8.0        44
9.0        35
3.0        26
6.0        12
0.0         9
1.0         7
17.0        2
Name: Seats, dtype: int64

### CO2_Emissions

In [62]:
first_looking("CO2_Emissions")

COLUMN NAME    :  CO2_Emissions
--------------------------------
per_of_nulls   :  % 35.05
num_of_nulls   :  10036
num_of_uniques :  333
--------------------------------
NaN       10036
0.0        1040
119.0       393
124.0       340
129.0       319
          ...
3.0           1
1320.0        1
343.0         1
73.0          1
53.0          1
Name: CO2_Emissions, Length: 334, dtype: int64

In [63]:
df["CO2_Emissions"].fillna("-", inplace=True)

In [64]:
df.groupby(["Make_Model", "Body_Type", "Fuel_Type", "CO2_Emissions"]).Price.describe()

                                                       count     mean  \
Make_Model   Body_Type        Fuel_Type CO2_Emissions
Dacia        Compact          Benzine   -                3.0  21431.0
             Sedan            Benzine   -                1.0   9999.0
             Station wagon    Benzine   130.0            1.0  21799.0
Dacia Break  Station wagon    Benzine   -                1.0  20500.0
Dacia Dokker Compact          Diesel    -                1.0  11930.0
...                                                      ...      ...
Volvo XC90   Off-Road/Pick-up Electric  0.0              4.0  64400.0
             Sedan            Diesel    47.0             1.0  84900.0
                                        -                2.0  48100.0
             Station wagon    Diesel    149.0            2.0  29500.0
                                        152.0            2.0  36000.0

                                                               std      min  \
Make_Model   Body_Type        Fuel_Type CO2_Emissions
Dacia        Compact          Benzine   -              1661.743663  19515.0
             Sedan            Benzine   -                      NaN   9999.0
             Station wagon    Benzine   130.0                  NaN  21799.0
Dacia Break  Station wagon    Benzine   -                      NaN  20500.0
Dacia Dokker Compact          Diesel    -                      NaN  11930.0
...                                                            ...      ...
Volvo XC90   Off-Road/Pick-up Electric  0.0            9814.954576  55900.0
             Sedan            Diesel    47.0                   NaN  84900.0
                                        -               565.685425  47700.0
             Station wagon    Diesel    149.0             0.000000  29500.0
                                        152.0             0.000000  36000.0

                                                           25%      50%  \
Make_Model   Body_Type        Fuel_Type CO2_Emissions
Dacia        Compact          Benzine   -              20907.0  22299.0
             Sedan            Benzine   -               9999.0   9999.0
             Station wagon    Benzine   130.0          21799.0  21799.0
Dacia Break  Station wagon    Benzine   -              20500.0  20500.0
Dacia Dokker Compact          Diesel    -              11930.0  11930.0
...                                                        ...      ...
Volvo XC90   Off-Road/Pick-up Electric  0.0            55900.0  64400.0
             Sedan            Diesel    47.0           84900.0  84900.0
                                        -              47900.0  48100.0
             Station wagon    Diesel    149.0          29500.0  29500.0
                                        152.0          36000.0  36000.0

                                                           75%      max
Make_Model   Body_Type        Fuel_Type CO2_Emissions
Dacia        Compact          Benzine   -              22389.0  22479.0
             Sedan            Benzine   -               9999.0   9999.0
             Station wagon    Benzine   130.0          21799.0  21799.0
Dacia Break  Station wagon    Benzine   -              20500.0  20500.0
Dacia Dokker Compact          Diesel    -              11930.0  11930.0
...                                                        ...      ...
Volvo XC90   Off-Road/Pick-up Electric  0.0            72900.0  72900.0
             Sedan            Diesel    47.0           84900.0  84900.0
                                        -              48300.0  48500.0
             Station wagon    Diesel    149.0          29500.0  29500.0
                                        152.0          36000.0  36000.0

[8231 rows x 8 columns]

In [63]:
# Let's first examine how CO2_Emission values for Electric cars differ from others.

In [65]:
df.groupby(["Fuel_Type", "Make_Model", "Body_Type", "CO2_Emissions"]).Price.describe().loc["Electric"]

                                              count          mean  \
Make_Model    Body_Type        CO2_Emissions
Dacia Spring  Compact          -               27.0  22753.666667
              Off-Road/Pick-up 0.0              2.0  17494.500000
                               -                1.0  22980.000000
              Sedan            0.0              1.0  18400.000000
                               -                8.0  21581.750000
...                                             ...           ...
Skoda Enyaq   Sedan            -                1.0  61930.000000
Toyota Proace Station wagon    0.0              1.0  40999.000000
Toyota RAV 4  Off-Road/Pick-up 0.0              4.0  46750.000000
Volvo S90     Sedan            0.0              2.0  51900.000000
Volvo XC90    Off-Road/Pick-up 0.0              4.0  64400.000000

                                                      std      min       25%  \
Make_Model    Body_Type        CO2_Emissions
Dacia Spring  Compact          -               912.015899  19269.0  22985.00
              Off-Road/Pick-up 0.0            1407.849601  16499.0  16996.75
                               -                      NaN  22980.0  22980.00
              Sedan            0.0                    NaN  18400.0  18400.00
                               -              2571.869067  18099.0  21074.25
...                                                   ...      ...       ...
Skoda Enyaq   Sedan            -                      NaN  61930.0  61930.00
Toyota Proace Station wagon    0.0                    NaN  40999.0  40999.00
Toyota RAV 4  Off-Road/Pick-up 0.0               0.000000  46750.0  46750.00
Volvo S90     Sedan            0.0               0.000000  51900.0  51900.00
Volvo XC90    Off-Road/Pick-up 0.0            9814.954576  55900.0  55900.00

                                                  50%       75%      max
Make_Model    Body_Type        CO2_Emissions
Dacia Spring  Compact          -              22985.0  22985.00  23090.0
              Off-Road/Pick-up 0.0            17494.5  17992.25  18490.0
                               -              22980.0  22980.00  22980.0
              Sedan            0.0            18400.0  18400.00  18400.0
                               -              21599.0  21607.00  27044.0
...                                               ...       ...      ...
Skoda Enyaq   Sedan            -              61930.0  61930.00  61930.0
Toyota Proace Station wagon    0.0            40999.0  40999.00  40999.0
Toyota RAV 4  Off-Road/Pick-up 0.0            46750.0  46750.00  46750.0
Volvo S90     Sedan            0.0            51900.0  51900.00  51900.0
Volvo XC90    Off-Road/Pick-up 0.0            64400.0  72900.00  72900.0

[86 rows x 8 columns]

In [ ]:
# It seems more sensible to impute missing values in two stages:

# With the Mode value of Electric feature for Electric cars.

# With the Median values of related make_model, body_type and fuel_type features for the others.

In [66]:
df["CO2_Emissions"].replace("-", np.nan, inplace=True)

In [67]:
df[df["Fuel_Type"] == "Electric"]["CO2_Emissions"].value_counts(dropna=False)

NaN      251
0.0      185
1.0        2
132.0      1
Name: CO2_Emissions, dtype: int64

In [68]:
df[df["Fuel_Type"] == "Benzine"]["CO2_Emissions"].value_counts(dropna=False)

NaN       6020
0.0        673
124.0      241
119.0      235
114.0      217
          ...
1320.0       1
272.0        1
332.0        1
343.0        1
53.0         1
Name: CO2_Emissions, Length: 327, dtype: int64

In [69]:
df.loc[df["Fuel_Type"] == "Electric", "CO2_Emissions"]

1        0.0
93       NaN
94       NaN
108      NaN
1213     0.0
        ...
26985    0.0
27338    0.0
27367    0.0
28340    0.0
28528    0.0
Name: CO2_Emissions, Length: 439, dtype: float64

In [70]:
df.loc[df["Fuel_Type"] == "Electric", "CO2_Emissions"] = df.loc[df["Fuel_Type"] == "Electric", "CO2_Emissions"].fillna(df.loc[df["Fuel_Type"] == "Electric", "CO2_Emissions"].mode()[0])
df.loc[df["Fuel_Type"] == "Electric", "CO2_Emissions"]

1        0.0
93       0.0
94       0.0
108      0.0
1213     0.0
        ...
26985    0.0
27338    0.0
27367    0.0
28340    0.0
28528    0.0
Name: CO2_Emissions, Length: 439, dtype: float64

In [71]:
df.loc[(df["Fuel_Type"] == "Electric") & (df["CO2_Emissions"] != 0)][["Fuel_Type", "CO2_Emissions"]]

      Fuel_Type  CO2_Emissions
5831   Electric          132.0
9102   Electric            1.0
20582  Electric            1.0

In [72]:
df.iloc[5831]

Make_Model                                                    Renault Arkana
Location                                                                  IT
Price                                                                27500.0
Body_Type                                                              Coupe
Type                                                          Pre-registered
Doors                                                                    5.0
Mileage                                                                 10.0
Gearbox                                                            Automatic
Fuel_Type                                                           Electric
Seller                                                                Dealer
Seats                                                                    5.0
Engine_Size                                                           1333.0
Gears                                                                    7.0
CO2_Emissions                                                          132.0
Drivetrain                                                             Front
Cylinders                                                                4.0
Comfort_Convenience        Air conditioning, Armrest, Automatic climate c...
Entertainment_Media                    Apple CarPlay, Digital cockpit, Radio
Safety_Security            ABS, Adaptive Cruise Control, Blind spot monit...
Extras                     Alloy wheels (18"), Automatically dimming inte...
Empty_Weight                                                          1336.0
Full_Service_History                                                      No
Upholstery                                                               NaN
Energy_Efficiency_Class                                                  NaN
Age                                                                      0.0
power_kW                                                               103.0
power_hp                                                               140.0
Fuel_Consumption_comb                                                    6.5
Name: 5831, dtype: object

In [73]:
df.loc[df["Make_Model"] == "Renault Arkana"][["Gearbox", "Fuel_Type", "Gears", "CO2_Emissions"]]

        Gearbox Fuel_Type  Gears  CO2_Emissions
5612  Automatic   Benzine    7.0            NaN
5615  Automatic   Benzine    7.0            NaN
5618  Automatic   Benzine    7.0            NaN
5622  Automatic   Benzine    7.0            NaN
5623  Automatic   Benzine    7.0            NaN
...         ...       ...    ...            ...
6321  Automatic   Benzine    7.0            NaN
6788  Automatic   Benzine    7.0          124.0
6797  Automatic   Benzine    7.0          124.0
6838  Automatic   Benzine    7.0          124.0
7074  Automatic   Benzine    7.0          121.0

[64 rows x 4 columns]

In [74]:
df.iloc[5831, df.columns.get_loc("Fuel_Type")] = "Benzine"

In [75]:
df.loc[5831]["Fuel_Type"]

'Benzine'

In [76]:
def fill_median(df, group_col1, group_col2, group_col3, col_name):
    
    df[col_name].fillna(df.groupby([group_col1, group_col2, group_col3])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df[col_name].median(), inplace = True)

    print("column name    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False))

In [77]:
fill_median(df, "Make_Model", "Body_Type", "Fuel_Type", "CO2_Emissions")

column name    :  CO2_Emissions
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  397
--------------------------------
0.0      1410
124.0    1057
115.0     622
99.0      588
119.0     574
         ...
13.0        1
345.0       1
19.0        1
108.5       1
53.0        1
Name: CO2_Emissions, Length: 397, dtype: int64

### Cylinders

In [78]:
first_looking("Cylinders")

COLUMN NAME    :  Cylinders
--------------------------------
per_of_nulls   :  % 34.15
num_of_nulls   :  9778
num_of_uniques :  12
--------------------------------
4.0     13068
NaN      9778
3.0      3258
6.0      1013
5.0       799
8.0       539
2.0       103
0.0        35
1.0        21
12.0        8
7.0         6
26.0        1
16.0        1
Name: Cylinders, dtype: int64

In [79]:
fill(df, "Make_Model", "Body_Type", "Cylinders", "mode")

Number of NaN :  0
------------------
4.0     19798
3.0      5148
6.0      1322
5.0       970
8.0       943
0.0       187
1.0       136
2.0       107
12.0       11
7.0         6
26.0        1
16.0        1
Name: Cylinders, dtype: int64

In [ ]:
# I drop the cylinder attribute in this analysis as there are some other attributes that have less missing values
# such as "hp, engine_size, empty_weight" and give similar insights

In [80]:
df.shape

(28630, 28)

In [81]:
df.drop("Cylinders", axis=1, inplace=True)

In [82]:
df.shape

(28630, 27)

### power_kW

In [84]:
first_looking("power_kW")

COLUMN NAME    :  power_kW
--------------------------------
per_of_nulls   :  % 2.0
num_of_nulls   :  572
num_of_uniques :  351
--------------------------------
110.0    1992
96.0     1356
88.0     1182
81.0     1166
66.0     1110
         ...
746.0       1
570.0       1
471.0       1
179.0       1
26.0        1
Name: power_kW, Length: 352, dtype: int64

In [85]:
fill(df, "Make_Model", "Body_Type", "power_kW", "mode")

Number of NaN :  0
------------------
110.0    2018
96.0     1426
88.0     1202
81.0     1186
66.0     1152
         ...
570.0       1
471.0       1
179.0       1
284.0       1
26.0        1
Name: power_kW, Length: 351, dtype: int64

### power_hp

In [86]:
first_looking("power_hp")

COLUMN NAME    :  power_hp
--------------------------------
per_of_nulls   :  % 2.0
num_of_nulls   :  572
num_of_uniques :  347
--------------------------------
150.0    1992
131.0    1356
120.0    1182
110.0    1166
90.0     1110
         ...
465.0       1
412.0       1
670.0       1
506.0       1
33.0        1
Name: power_hp, Length: 348, dtype: int64

In [ ]:
# The hp of cars changes by their make_models & body_type most of the time.
# So, I will fill in the missing values with the mod value of the related group.

In [87]:
fill(df, "Make_Model", "Body_Type", "power_hp", "mode")

Number of NaN :  0
------------------
150.0    2018
131.0    1426
120.0    1202
110.0    1186
90.0     1152
         ...
412.0       1
670.0       1
451.0       1
775.0       1
33.0        1
Name: power_hp, Length: 347, dtype: int64

In [ ]:
# Since "kW" is used as a consumption indicator in electric vehicles, I drop the "hp" feature from the analysis.

In [88]:
df.drop("power_hp", axis=1, inplace=True)

In [89]:
df.shape

(28630, 26)

### Fuel_Consumption_comb

In [91]:
first_looking("Fuel_Consumption_comb")

COLUMN NAME    :  Fuel_Consumption_comb
--------------------------------
per_of_nulls   :  % 20.61
num_of_nulls   :  5902
num_of_uniques :  161
--------------------------------
NaN     5902
5.0      801
4.9      784
4.5      671
0.0      629
        ...
16.0       1
57.0       1
61.0       1
14.5       1
44.0       1
Name: Fuel_Consumption_comb, Length: 162, dtype: int64

In [92]:
df.loc[df["Fuel_Type"] == "Electric"][["Fuel_Consumption_comb"]]

       Fuel_Consumption_comb
1                        NaN
93                       NaN
94                       NaN
108                      NaN
1213                     NaN
...                      ...
26985                    5.3
27338                    5.2
27367                    5.6
28340                    NaN
28528                    NaN

[438 rows x 1 columns]

In [93]:
fill_median(df, "Make_Model", "Body_Type", "Fuel_Type", "Fuel_Consumption_comb")

column name    :  Fuel_Consumption_comb
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  236
--------------------------------
4.90    1214
5.00    1131
4.80     902
5.10     894
5.40     801
        ...
4.45       1
4.95       1
0.50       1
0.65       1
8.65       1
Name: Fuel_Consumption_comb, Length: 236, dtype: int64

### Drivetrain

In [94]:
first_looking("Drivetrain")

COLUMN NAME    :  Drivetrain
--------------------------------
per_of_nulls   :  % 41.0
num_of_nulls   :  11737
num_of_uniques :  3
--------------------------------
Front    12066
NaN      11737
4WD       3252
Rear      1575
Name: Drivetrain, dtype: int64

In [95]:
fill(df, "Make_Model", "Body_Type", "Drivetrain", "mode")

Number of NaN :  0
------------------
Front    21492
4WD       4321
Rear      2817
Name: Drivetrain, dtype: int64

### Empty_Weight

In [96]:
first_looking("Empty_Weight")

COLUMN NAME    :  Empty_Weight
--------------------------------
per_of_nulls   :  % 37.97
num_of_nulls   :  10872
num_of_uniques :  1218
--------------------------------
NaN       10872
1395.0      233
1055.0      224
1423.0      216
1165.0      200
          ...
1877.0        1
1011.0        1
1069.0        1
983.0         1
1391.0        1
Name: Empty_Weight, Length: 1219, dtype: int64

In [ ]:
# The empty_weight of cars changes by their make_models & body_type most of the time.
# So I decide to fill missing values with mode value of related group.

In [97]:
fill(df, "Make_Model", "Body_Type", "Empty_Weight", "mode")

Number of NaN :  0
------------------
1320.0    724
1280.0    518
1055.0    474
1395.0    461
1165.0    392
         ...
944.0       1
1019.0      1
2156.0      1
2232.0      1
1391.0      1
Name: Empty_Weight, Length: 1218, dtype: int64

### Energy_Efficiency_Class

In [99]:
first_looking("Energy_Efficiency_Class")

COLUMN NAME    :  Energy_Efficiency_Class
--------------------------------
per_of_nulls   :  % 72.74
num_of_nulls   :  20826
num_of_uniques :  2
--------------------------------
NaN            20826
efficient       5308
unefficient     2496
Name: Energy_Efficiency_Class, dtype: int64

In [100]:
fill(df, "Make_Model", "Age", "Energy_Efficiency_Class", "mode")

Number of NaN :  0
------------------
efficient      18613
unefficient    10017
Name: Energy_Efficiency_Class, dtype: int64

In [102]:
df.columns

Index(['Make_Model', 'Location', 'Price', 'Body_Type', 'Type', 'Doors',
       'Mileage', 'Gearbox', 'Fuel_Type', 'Seller', 'Seats', 'Engine_Size',
       'Gears', 'CO2_Emissions', 'Drivetrain', 'Comfort_Convenience',
       'Entertainment_Media', 'Safety_Security', 'Extras', 'Empty_Weight',
       'Full_Service_History', 'Upholstery', 'Energy_Efficiency_Class', 'Age',
       'power_kW', 'Fuel_Consumption_comb'],
      dtype='object')

### Upholstery

In [103]:
first_looking("Upholstery")

COLUMN NAME    :  Upholstery
--------------------------------
per_of_nulls   :  % 35.0
num_of_nulls   :  10020
num_of_uniques :  6
--------------------------------
NaN             10020
Cloth            8736
Full leather     5439
Part leather     2835
alcantara         764
Other             628
Velour            208
Name: Upholstery, dtype: int64

In [ ]:
fill(df, "Make_Model", "Body_Type", "Upholstery", "mode")

Number of NaN :  0
------------------
Cloth           14160
Full leather     7763
Part leather     4291
alcantara        1067
Other             997
Velour            352
Name: Upholstery, dtype: int64

In [107]:
df["Upholstery"].replace(["Velour", "alcantara", "Part leather", "Full leather"],
                         ["Cloth", "Part/Full Leather", "Part/Full Leather", "Part/Full Leather"], inplace=True)
df["Upholstery"].value_counts(dropna=False)

Cloth                14512
Part/Full Leather    13121
Other                  997
Name: Upholstery, dtype: int64

In [108]:
df["Upholstery"].replace("Other", np.nan, inplace=True)

In [109]:
fill(df, "Make_Model", "Body_Type", "Upholstery", "mode")

Number of NaN :  0
------------------
Cloth                15132
Part/Full Leather    13498
Name: Upholstery, dtype: int64

### Comfort_Convenience

In [110]:
first_looking("Comfort_Convenience")

COLUMN NAME    :  Comfort_Convenience
--------------------------------
per_of_nulls   :  % 11.17
num_of_nulls   :  3197
num_of_uniques :  14438
--------------------------------
NaN                                                                                                                                                                                                                                                                                                                                                                                                            3197
Air conditioning, Automatic climate control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                                              244
Air conditioning, Automatic climate control, Cruise control                                                                                                                                                                                                                                                                                                                                                     171
Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                              168
Air conditioning                                                                                                                                                                                                                                                                                                                                                                                                157
                                                                                                                                                                                                                                                                                                                                                                                                               ...
Armrest, Automatic climate control, 2 zones, Cruise control, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system                                                                                     1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electric tailgate, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating                                               1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows       1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows           1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Seat heating, Tinted windows                                                                                                                                                                                                         1
Name: Comfort_Convenience, Length: 14439, dtype: int64

In [111]:
fill(df, "Make_Model", "Body_Type", "Comfort_Convenience", "mode")

Number of NaN :  0
------------------
Air conditioning, Automatic climate control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                           347
Cruise control                                                                                                                                                                                               316
Air conditioning                                                                                                                                                                                             259
Air conditioning, Automatic climate control, Cruise control                                                                                                                                                  256
Air conditioning, Electrical side mirrors, Power windows                                                                                                                                                     242
                                                                                                                                                                                                            ...
Air conditioning, Automatic climate control, Electrical side mirrors, Hill Holder, Panorama roof, Power windows, Start-stop system, Tinted windows                                                             1
Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Parking assist system sensors rear, Power windows, Rain sensor, Tinted windows                                                       1
Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Hill Holder, Multi-function steering wheel, Power windows, Rain sensor, Start-stop system                                       1
Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Light sensor, Lumbar support, Parking assist system sensors rear, Power windows, Rain sensor                                    1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Seat heating, Tinted windows      1
Name: Comfort_Convenience, Length: 14438, dtype: int64

In [112]:
premium = ["Electrical side mirrors", "Parking assist", "Air conditioning", "Hill Holder", "Power windows"]
premium_plus = ["Multi-function", "Navigation ", "Keyless central door lock", "Heads-up", "Massage seats", "heating", "Automatic climate control", "Heated"]

comfort_package = df['Comfort_Convenience'].apply(lambda sentence: "Premium Plus" if all(word in sentence for word in premium_plus) else ("Premium" if all(word in sentence for word in premium) else "Standard"))
comfort_package.value_counts()

Standard        19707
Premium          8829
Premium Plus       94
Name: Comfort_Convenience, dtype: int64

In [113]:
premium = ["Electrical side mirrors", "Parking assist", "Air conditioning", "Hill Holder", "Power windows"]
premium_plus = ["Multi-function", "Navigation ", "Keyless central door lock", "Heads-up", "Massage seats", "heating", "Automatic climate control", "Heated"]

df['Comfort_Convenience_Package'] = df['Comfort_Convenience'].apply(lambda sentence: "Premium Plus" if all(word in sentence for word in premium_plus) else ("Premium" if all(word in sentence for word in premium) else "Standard"))
df

,Make_Model,Location,Price,Body_Type,Type,Doors,Mileage,Gearbox,Fuel_Type,Seller,Seats,Engine_Size,Gears,CO2_Emissions,Drivetrain,Comfort_Convenience,Entertainment_Media,Safety_Security,Extras,Empty_Weight,Full_Service_History,Upholstery,Energy_Efficiency_Class,Age,power_kW,Fuel_Consumption_comb,Comfort_Convenience_Package
0,Mercedes-Benz A 160,ES,16950.0,Compact,Used,5.0,120200.0,Manual,Diesel,Dealer,5.0,1595.0,5.0,98.0,Front,"Air conditioning, Armrest, Automatic climate c...",NaN,NaN,NaN,1270.0,No,Cloth,efficient,6.0,75.0,3.80,Standard
1,Mercedes-Benz EQE 350,ES,80900.0,Compact,Pre-registered,4.0,5000.0,Automatic,Electric,Dealer,5.0,1.0,9.0,0.0,4WD,"Air conditioning, Air suspension, Armrest, Aut...",NaN,NaN,NaN,2355.0,No,Part/Full Leather,efficient,0.0,215.0,4.50,Premium
2,Mercedes-Benz A 45 AMG,ES,69900.0,Compact,Used,5.0,18900.0,Automatic,Benzine,Dealer,5.0,1991.0,8.0,162.0,4WD,"Air conditioning, Electrical side mirrors, Mul...",NaN,NaN,NaN,1555.0,No,Part/Full Leather,unefficient,2.0,310.0,8.40,Standard
3,Mercedes-Benz A 35 AMG,ES,46990.0,Compact,Used,5.0,18995.0,Automatic,Benzine,Dealer,5.0,1991.0,7.0,169.0,4WD,"Air conditioning, Automatic climate control, P...",USB,"ABS, Central door lock, Driver-side airbag, El...",Sport seats,1455.0,No,Part/Full Leather,unefficient,2.0,225.0,7.30,Standard
4,Mercedes-Benz A 45 AMG,ES,16800.0,Compact,Used,5.0,197000.0,Automatic,Diesel,Dealer,5.0,2143.0,7.0,162.0,4WD,"Air conditioning, Electrical side mirrors, Mul...","Bluetooth, CD player, MP3, USB","ABS, Central door lock, Driver-side airbag, El...",NaN,1545.0,No,Part/Full Leather,unefficient,7.0,100.0,4.90,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28625,Volvo S90,ES,37600.0,Sedan,Used,4.0,40345.0,Automatic,Diesel,Dealer,4.0,1969.0,8.0,127.0,4WD,"Air conditioning, Automatic climate control, M...","Bluetooth, USB","ABS, Central door lock, Driver-side airbag, El...",Alloy wheels,2077.0,No,Part/Full Leather,efficient,3.0,288.0,6.30,Standard
28626,Volvo S40,NL,5499.0,Sedan,Used,4.0,145000.0,Automatic,Benzine,Dealer,5.0,2435.0,5.0,217.0,Front,"Air conditioning, Armrest, Automatic climate c...","On-board computer, Radio","ABS, Central door lock, Central door lock with...","Alloy wheels (16""), Trailer hitch",1357.0,Yes,Cloth,efficient,18.0,125.0,9.55,Standard
28627,Volvo C30,BE,7300.0,Sedan,Used,3.0,96000.0,Manual,Diesel,Dealer,4.0,1560.0,6.0,99.0,Front,"Air conditioning, Armrest, Automatic climate c...","Bluetooth, CD player, Hands-free equipment, MP...","ABS, Alarm system, Central door lock with remo...","Alloy wheels, Automatically dimming interior m...",1356.0,Yes,Cloth,unefficient,11.0,84.0,5.90,Standard
28628,Volvo S90,NL,29900.0,Sedan,Used,4.0,94343.0,Automatic,Benzine,Dealer,5.0,1969.0,8.0,149.0,4WD,"Air conditioning, Armrest, Automatic climate c...","Android Auto, Apple CarPlay, Bluetooth, Hands-...","Adaptive Cruise Control, Adaptive headlights, ...","Alloy wheels (18""), Automatically dimming inte...",1617.0,Yes,Part/Full Leather,efficient,5.0,187.0,6.30,Standard
28629,Volvo S80,NL,4440.0,Sedan,Used,4.0,230047.0,Automatic,Benzine,Dealer,5.0,2922.0,6.0,251.0,Front,"Air conditioning, Armrest, Cruise control, Ele...",On-board computer,"ABS, Alarm system, Central door lock, Central ...","Alloy wheels, Automatically dimming interior m...",1573.0,No,Part/Full Leather,unefficient,20.0,147.0,5.90,Standard

In [114]:
df['Comfort_Convenience_Package'].value_counts(dropna=False)

Standard        19707
Premium          8829
Premium Plus       94
Name: Comfort_Convenience_Package, dtype: int64

In [115]:
df.shape

(28630, 27)

In [116]:
df.drop("Comfort_Convenience", axis=1, inplace=True)

In [117]:
df.shape

(28630, 26)

### Entertainment_Media

In [118]:
first_looking("Entertainment_Media")

COLUMN NAME    :  Entertainment_Media
--------------------------------
per_of_nulls   :  % 17.42
num_of_nulls   :  4986
num_of_uniques :  1944
--------------------------------
NaN                                                                                                                                                                        4986
Bluetooth, USB                                                                                                                                                              753
Bluetooth                                                                                                                                                                   665
On-board computer                                                                                                                                                           662
CD player, On-board computer, Radio                                                                                                                                         644
                                                                                                                                                                           ...
Android Auto, Apple CarPlay, Bluetooth, Digital cockpit, Digital radio, Induction charging for smartphones, On-board computer, Radio, Sound system, WLAN / WiFi hotspot       1
Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Integrated music streaming, On-board computer, Sound system, USB, WLAN / WiFi hotspot             1
Digital cockpit, Digital radio, On-board computer, Radio                                                                                                                      1
Android Auto, Apple CarPlay, Digital radio, On-board computer, Radio, Sound system, USB, WLAN / WiFi hotspot                                                                  1
Hands-free equipment, Integrated music streaming, On-board computer, Radio, USB                                                                                               1
Name: Entertainment_Media, Length: 1945, dtype: int64

In [119]:
def equipment(x):
    if type(x) != float:
         if all(i in x for i in ["Apple CarPlay","Bluetooth","USB","Android Auto","WLAN / WiFi hotspot"]):
            return "Premium"
         else:
            return "Standard"
    else:
        return "No info"

In [120]:
df['Entertainment_Media'] = df.Entertainment_Media.apply(equipment)

In [121]:
df['Entertainment_Media'].value_counts(dropna=False)

Standard    22026
No info      4986
Premium      1618
Name: Entertainment_Media, dtype: int64

### Safety_Security

In [74]:
first_looking("safety_&_security")

                                         Safety_Security
0                                                    NaN
1                                                    NaN
2                                                    NaN
3      ABS, Central door lock, Driver-side airbag, El...
4      ABS, Central door lock, Driver-side airbag, El...
...                                                  ...
28625  ABS, Central door lock, Driver-side airbag, El...
28626  ABS, Central door lock, Central door lock with...
28627  ABS, Alarm system, Central door lock with remo...
28628  Adaptive Cruise Control, Adaptive headlights, ...
28629  ABS, Alarm system, Central door lock, Central ...

[28630 rows x 1 columns]

In [122]:
def Security(x):
    if type(x) != float:
        if all(i in x for i in ["ABS", "Alarm system", "Driver-side airbag", "Central door lock", 
                                "Emergency system","Head airbag"]):
            return "High_security"
        elif any(i in x for i in ["Blind spot monitor", "Fog lights","High beam assist"]):
            return "Medium_security"
        else:
            return "Low_security"
    else:
        return x

In [123]:
df.Safety_Security = df.Safety_Security.apply(Security)

In [124]:
df.Safety_Security.value_counts(dropna=False)

Medium_security    17137
Low_security        7544
NaN                 3215
High_security        734
Name: Safety_Security, dtype: int64

In [125]:
for group in list(df["Make_Model"].unique()):
    cond = df["Make_Model"] == group
    df.loc[cond, "Safety_Security"] = df.loc[cond, "Safety_Security"].fillna(method= "ffill").fillna(method= "bfill")
df.Safety_Security = df.Safety_Security.fillna(method= "ffill").fillna(method= "bfill")

In [126]:
df.Safety_Security.isnull().sum()

0

### Extras

In [127]:
first_looking("Extras")

COLUMN NAME    :  Extras
--------------------------------
per_of_nulls   :  % 17.99
num_of_nulls   :  5150
num_of_uniques :  9360
--------------------------------
NaN                                                                                                                                                                                                                                                                 5150
Alloy wheels                                                                                                                                                                                                                                                        3408
Alloy wheels, Roof rack                                                                                                                                                                                                                                              380
Alloy wheels, Sport seats                                                                                                                                                                                                                                            372
Alloy wheels, Touch screen                                                                                                                                                                                                                                           231
                                                                                                                                                                                                                                                                    ...
Alloy wheels (18"), Spoiler, Summer tyres, Trailer hitch                                                                                                                                                                                                               1
All season tyres, Alloy wheels, Automatically dimming interior mirror, Catalytic Converter, Headlight washer system, Ski bag, Sport seats, Trailer hitch, Winter tyres                                                                                                 1
Alloy wheels, Automatically dimming interior mirror, Headlight washer system, Sport package, Sport seats, Summer tyres                                                                                                                                                 1
Alloy wheels (19"), Ambient lighting, Automatically dimming interior mirror, Catalytic Converter, E10-enabled, Emergency tyre repair kit, Headlight washer system, Spoiler, Sport package, Sport seats, Sport suspension, Summer tyres, Tuned car, Voice Control       1
Alloy wheels, Automatically dimming interior mirror, Ski bag, Trailer hitch                                                                                                                                                                                            1
Name: Extras, Length: 9361, dtype: int64

In [128]:
def Extras_Classification(x):
    if x is np.nan : return np.nan
    elif 'Steel wheels' in x or 'Voice Control' in x or 'Touch screen' in x : return "Premium"
    else : return "Standard"

In [129]:
df.Extras = df.Extras.apply(Extras_Classification)

In [130]:
df.Extras.value_counts(dropna=False)

Premium     12167
Standard    11313
NaN          5150
Name: Extras, dtype: int64

In [131]:
fill(df, "Make_Model", "Body_Type", "Extras", "mode")

Number of NaN :  0
------------------
Premium     14725
Standard    13905
Name: Extras, dtype: int64

In [132]:
df.shape

(28630, 26)

In [136]:
df.isnull().sum()*100 / df.shape[0]

Make_Model                     0.0
Location                       0.0
Price                          0.0
Body_Type                      0.0
Type                           0.0
Doors                          0.0
Mileage                        0.0
Gearbox                        0.0
Fuel_Type                      0.0
Seller                         0.0
Seats                          0.0
Engine_Size                    0.0
Gears                          0.0
CO2_Emissions                  0.0
Drivetrain                     0.0
Entertainment_Media            0.0
Safety_Security                0.0
Extras                         0.0
Empty_Weight                   0.0
Full_Service_History           0.0
Upholstery                     0.0
Energy_Efficiency_Class        0.0
Age                            0.0
power_kW                       0.0
Fuel_Consumption_comb          0.0
Comfort_Convenience_Package    0.0
dtype: float64

In [ ]:
## I'll save the dataset with a csv extension in the following notebook for further analysis (Handling Outliers):

In [137]:
df.to_csv("Autoscout_Missing_Value.csv", index=False)